name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      
      - name: npm install
        run: npm ci
        
      - name: lint
        run: npm run lint --quiet --max-warnings=0

  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [ 12, 14, 16, 18 ]
        os: [ ubuntu-latest, windows-latest ]

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup node ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: npm install
      run: npm ci
    
    - name: test
      run: npm test
      env:
        CI: true
        
    # Run codecov after all builds, and only on a single environment
    - name: Gather Coverage
      if: matrix.os == 'ubuntu-latest' && matrix.node-version == 16
      run: npm run test:coverage

    - name: Create Coverage Report
      if: matrix.os == 'ubuntu-latest' && matrix.node-version == 16
      run: npm run test:report

    - name: Upload Coverage
      uses: codecov/codecov-action@v2
      if: matrix.os == 'ubuntu-latest' && matrix.node-version == 16
